@import "./variables.scss";

@include desktop {
    header {
        .navbar {
            .nav-top {
                &_item {
                    display: flex;
                    gap: 6px;
                    padding: 0px 46px;

                    .info {
                        display: block;
                        color: $white;
                    }
                }
            }
        }

        .container-menu {
            padding: 26px 48px;
            width: 95%;

            .false-menu-mov {
                display: none;
            }

            .false-menu-desktop {
                display: block;

                .list-false-menu-desktop {
                    display: flex;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    gap: 22px;

                    >li {
                        color: $text-grey;
                        cursor: pointer;

                    }

                    .active {
                        color: $orange;
                    }
                }
            }


        }

    }

    main {
        .principal-section {
            justify-content: center;
            align-items: center;

            &_container {
                flex-basis: 64%;
            }
        }

        .services {
            &_container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 300px));
                gap: 24px;
                padding: 24px 0px;

                .card {
                    border-left: 1px solid $grey ;
                    border-bottom: none;
                    padding: 0px 24px;
                }
            }
        }

        .about-us {
            &_container {
                display: flex;
                flex-direction: row;
                gap: 24px;
                align-items: center;
                justify-content: center;
                padding: 24px;

                .about-us-image {
                    max-width: 33%;
                    margin: 0 78px 0px 24px;
                }

                .about-us-content {
                    flex-basis: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 24px;
                    max-width: 420px;
                }
            }

        }
    }

    p {

        font-size: 18px;
    }

}