@import "./variables.scss";

@include desktop {
    header {
        .navbar {
            .nav-top {
                &_item {
                    display: flex;
                    gap: 6px;
                    .info {
                        display: block;
                        color: $white;
                    }
                }
            }
        }
        .container-menu {
            padding: 26px 154px;
            .false-menu {
                position:inherit;
    
                .list-false-menu {
                    display: flex;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    gap:22px;
                    >li {
                        color: $text-grey;
                        
                    }
                    .active {
                        color: $orange;
                    }
                }
    
                .menu-icon {
                    display: none;
                }
    
            }
            &:hover {
               
            }
          
        }
     
    }
    
    main {
        .services {
            &_container {
                display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(0, 350px));
                    gap: 20px; 
                    .card {
                        border-left: 1px solid $grey ;
                        border-bottom: none;
                        padding: 0px 24px;
                    }
            }
        }
        .about-us {
            &_container {
                display: flex;
                flex-direction: row;
                gap: 24px;
                align-items: center;
                justify-content: center;
                padding: 24px;

                .about-us-image {
                  max-width: 20%;
                  margin:0 24px;
                }
                .about-us-content {
                    flex-basis: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 24px;
                    max-width: 420px;
                  }
            }
            
        }
    }
    
    footer {
      
    }
} 