@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #21242e;
  height: 62px;
}
header .navbar .nav-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
header .navbar .nav-top_item .icon-header {
  color: #fa573a;
}
header .navbar .nav-top_item .info {
  display: none;
}
header .container-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0px 26px 26px;
}
header .container-menu .logo {
  max-width: 30%;
}
header .container-menu .false-menu-mov {
  position: relative;
}
header .container-menu .false-menu-mov .menu-icon {
  font-size: 25px;
  padding-right: 26px;
}
header .container-menu .false-menu-mov .list-false-menu {
  display: none;
}
header .container-menu .false-menu-mov:hover .list-false-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 54px;
  background: white;
  min-width: 390px;
  padding: 0px 20px;
}
header .container-menu .false-menu-mov:hover .list-false-menu > li {
  border-bottom: 1px solid #aeaeae;
  color: #aeaeae;
  width: 100%;
  text-align: center;
  padding: 10px;
}
header .container-menu .false-menu-mov:hover .list-false-menu > li:hover,
header .container-menu .false-menu-mov:hover .list-false-menu > li :active {
  color: #fa573a;
}
header .container-menu .false-menu-mov:hover .list-false-menu > li.active {
  color: #fa573a;
}
header .container-menu .false-menu-mov:hover .list-false-menu > li:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}
header .container-menu .false-menu-desktop {
  display: none;
}

main {
  font-family: "Montserrat", sans-serif;
}
main .section-title {
  color: #000000;
  font-family: "Handlee", cursive;
  font-size: 32px;
  text-align: center;
}
main .section-title .emphasis {
  color: #fa573a;
}
main .section-decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8px;
}
main .section-decoration .decoration-line {
  width: 50px;
  height: 1px;
  background-color: #fa573a;
  display: inline-block;
}
main .section-decoration .decoration-symbol {
  color: #fa573a;
  font-size: 18px;
  font-family: "Handlee", cursive;
  font-weight: 700;
}
main .principal-section {
  height: 84vh;
  background-image: url("../images/fondo.jpg");
  background-color: #777575;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: white;
  display: flex;
}
main .principal-section_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 24px;
  gap: 12px;
}
main .principal-section_container .title {
  color: white;
  font-family: "Handlee", cursive;
  font-size: 32px;
}
main .principal-section_container .subtitle {
  color: #fa573a;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
main .principal-section_container .call-action {
  color: #ffffff;
  font-weight: 500;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.6px;
  font-size: 16px;
}
main .principal-section_container .our-menu {
  background-color: #fa573a;
  height: 54px;
  border: none;
  box-shadow: none;
  padding: 0px 20px;
  color: #ffffff;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}
main .principal-section_container .our-menu::after {
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
}
main .principal-section_container .our-menu:hover {
  background-color: #ffffff;
  color: #fa573a;
}
main .principal-section_container .our-menu:hover::after {
  color: #fa573a;
}
main .principal-section_container .rrss {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
main .principal-section_container .rrss .icon-rrss {
  font-size: 32px;
  color: #ffffff;
}
main .services {
  background-color: #ffffff;
  padding: 32px 24px;
}
main .services_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .services_container .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #aeaeae;
  gap: 12px;
  padding: 24px 0px;
}
main .services_container .card_icon {
  color: #fa573a;
  border: 1px solid #fa573a;
  padding: 8px;
}
main .services_container .card_title {
  font-weight: bold;
}
main .services_container .card_info {
  color: #878787;
}
main .services_container .card_btn-more {
  color: #fa573a;
  display: flex;
  gap: 4px;
}
main .services_container .card_btn-more::after {
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  font-weight: 900;
  font-size: 12px;
  color: #fa573a;
}
main .services_container .card_btn-more:hover {
  color: #3aa5fa;
}
main .services_container .card_btn-more:hover::after {
  color: #3aa5fa;
}
main .about-us {
  background-color: #ffffff;
  padding: 32px 24px;
}
main .about-us_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
main .about-us_container .about-us-image {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about-us_container .about-us-image .border-image {
  border: 3px solid #fa573a;
  transition: 1s;
  transform: rotateZ(10deg);
}
main .about-us_container .about-us-image .border-image > img {
  height: auto;
  display: block;
  width: 100%;
  transform: rotateZ(-10deg);
  transition: 1s;
}
main .about-us_container .about-us-image .border-image:hover {
  border: 3px solid #fa573a;
  transition: border 300ms ease-in-out, transform 500ms ease-in-out;
  transform: rotateZ(0deg);
}
main .about-us_container .about-us-image .border-image:hover > img {
  transform: rotateZ(0deg);
  transition: transform 500ms ease-in-out;
}
main .about-us_container .about-us-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 24px;
}
main .about-us_container .about-us-content .about-us-title {
  color: #000000;
  font-weight: bold;
}
main .about-us_container .about-us-content .about-us-subtitle {
  color: #fa573a;
}
main .about-us_container .about-us-content .about-us-info {
  color: #878787;
}
main .about-us_container .about-us-content .show-more {
  background-color: #fa573a;
  height: 54px;
  border: none;
  box-shadow: none;
  padding: 0px 20px;
  color: #ffffff;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}
main .about-us_container .about-us-content .show-more::after {
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
}
main .about-us_container .about-us-content .show-more:hover {
  background-color: #ffffff;
  color: #fa573a;
}
main .about-us_container .about-us-content .show-more:hover::after {
  color: #fa573a;
}

footer .footer {
  background-color: #21242e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
footer .footer_info {
  color: white;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (min-width: 576px) and (max-width: 992px) {
  header .container-menu {
    padding: 26px 0px 26px 48px;
  }
  main .principal-section_container .title {
    font-size: 36px;
  }
  main .principal-section_container .subtitle {
    font-size: 20px;
  }
  main .principal-section_container .call-action {
    font-size: 18px;
  }
  main .principal-section_container .our-menu {
    font-size: 18px;
  }
  main .services .section-title {
    font-size: 36px;
  }
  main .about-us .section-title {
    font-size: 36px;
  }
  main .about-us_container .about-us-image {
    width: 70%;
  }
  p {
    font-size: 18px;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (min-width: 1020px) {
  header .navbar .nav-top_item {
    display: flex;
    gap: 6px;
    padding: 0px 46px;
  }
  header .navbar .nav-top_item .info {
    display: block;
    color: #ffffff;
  }
  header .container-menu {
    padding: 26px 48px;
    width: 95%;
  }
  header .container-menu .false-menu-mov {
    display: none;
  }
  header .container-menu .false-menu-desktop {
    display: block;
  }
  header .container-menu .false-menu-desktop .list-false-menu-desktop {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 22px;
  }
  header .container-menu .false-menu-desktop .list-false-menu-desktop > li {
    color: #878787;
    cursor: pointer;
  }
  header .container-menu .false-menu-desktop .list-false-menu-desktop .active {
    color: #fa573a;
  }
  main .principal-section {
    justify-content: center;
    align-items: center;
  }
  main .principal-section_container {
    flex-basis: 64%;
  }
  main .services_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 300px));
    gap: 24px;
    padding: 24px 0px;
  }
  main .services_container .card {
    border-left: 1px solid #aeaeae;
    border-bottom: none;
    padding: 0px 24px;
  }
  main .about-us_container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }
  main .about-us_container .about-us-image {
    max-width: 33%;
    margin: 0 78px 0px 24px;
  }
  main .about-us_container .about-us-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    max-width: 420px;
  }
  p {
    font-size: 18px;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */