@import "./variables.scss";


header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $dark-blue;
        height: 62px;
    

    .nav-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        &_item {
            .icon-header {
                color: $orange;
            }

            .info {
                display: none;
            }
        }
    }
}
    .container-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 0px 26px 26px;

        .logo {
            max-width: 30%;
        }

        .false-menu {
            position: relative;

            .menu-icon {
                font-size: 25px;
                padding-right: 26px;
            }

            .list-false-menu {
                display: none;
            }

            &:hover {
                .list-false-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    right: 0;
                    top: 54px;
                    background: white;
                    min-width: 390px;
                    padding: 0px 20px;

                    >li {
                        border-bottom: 1px solid $grey;
                        color: $grey;
                        width: 100%;
                        text-align: center;
                        padding: 10px;

                        &:hover,
                        :active {
                            color: $orange;
                        }

                        &.active {
                            color: $orange;
                        }

                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

main {
    font-family: $principal-font;

    .section-title {
        color: $black;
        font-family: $title-font;
        font-size: 32px;
        text-align: center;

        .emphasis {
            color: $orange;
        }
    }

    .section-decoration {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8px;

        .decoration-line {
            width: 50px;
            height: 1px;
            background-color: $orange;
            display: inline-block;
        }

        .decoration-symbol {
            color: $orange;
            font-size: 18px;
            font-family: "Handlee", cursive;
            font-weight: 700;
        }
    }

    .principal-section {
        height: 84vh;
        background-image: url("../images/fondo.jpg");
        background-color: #777575;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        color: white;
        display: flex;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0px 24px;
            gap: 12px;

            .title {
                color: white;
                font-family: $title-font;
                font-size: 32px;

            }

            .subtitle {
                color: $orange;
                font-family: 'Montserrat', sans-serif;
                ;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.8px;

            }

            .call-action {
                color: #ffffff;
                font-weight: 500;
                font-family: 'Varela Round', sans-serif;
                letter-spacing: 0.6px;
                font-size: 16px;
            }

            .our-menu {
                background-color: #fa573a;
                height: 54px;
                border: none;
                box-shadow: none;
                padding: 0px 20px;
                color: #ffffff;
                gap: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-family: 'Varela Round', sans-serif;
                font-size: 16px;

                &::after {
                    font-family: 'Font Awesome 5 Free';
                    content: "\f30b";
                    font-weight: 900;
                    font-size: 12px;
                    color: $white;

                }

                &:hover {
                    background-color: $white;
                    color: $orange;

                    &::after {
                        color: $orange;
                    }
                }
            }

            .rrss {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;

                .icon-rrss {
                    font-size: 32px;
                    color: $white;
                }
            }
        }
    }

    .services {

        background-color: $white;
        padding: 32px 24px;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                border-bottom: 1px solid $grey ;
                gap: 12px;
                padding: 24px 0px;

                &_icon {
                    color: $orange;
                    border: 1px solid $orange;
                    padding: 8px;
                }

                &_title {
                    font-weight: bold;
                }

                &_info {
                    color: $text-grey;
                }

                &_btn-more {
                    color: $orange;
                    display: flex;
                    gap: 4px;

                    &::after {
                        font-family: 'Font Awesome 5 Free';
                        content: "\f30b";
                        font-weight: 900;
                        font-size: 12px;
                        color: $orange;

                    }

                    &:hover {
                        color: #3aa5fa;

                        &::after {
                            color: #3aa5fa;
                        }
                    }
                }
            }
        }
    }

    .about-us {

        background-color: #ffffff;
        padding: 32px 24px;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 12px;

            .about-us-image {
                width: 90%;
                margin: 20px auto;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet {
                    width: 85%;
                }

                .border-image {
                    border: 3px solid $orange;
                    transition: 1s;
                    transform: rotateZ(10deg);

                    >img {
                        height: auto;
                        display: block;
                        width: 100%;
                        transform: rotateZ(-10deg);
                        transition: 1s;
                    }

                    &:hover {
                        border: 3px solid $orange;
                        transition: border 300ms ease-in-out, transform 500ms ease-in-out;
                        transform: rotateZ(0deg);

                        >img {
                            transform: rotateZ(0deg);
                            transition: transform 500ms ease-in-out;
                        }
                    }
                }
            }
            .about-us-content {

                .about-us-title {
                    color: $black;
                    font-weight: bold;
                }
    
                .about-us-subtitle {
                    color: $orange;
                }
    
                .about-us-info {
                    color: $text-grey;
                }
            }
           

        }
    }

}

footer {
    .footer {
        background-color: $dark-blue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        &_info {
            color: white;
        }

    }
}