// Fonts
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


// SCSS Variables
$orange: #fa573a;
$dark-blue: #21242e;
$grey: #aeaeae;
$text-grey:#878787;
$white: #ffffff;
$black:#000000;
$principal-font: 'Montserrat', sans-serif;
$title-font: 'Handlee', cursive;

// SCSS Mixins
@mixin tablet {
  @media (min-width: 576px) and (max-width: 768px) {
    @content;
  }
}
// Tablet horizontal
@mixin superTablet {
  @media (min-width: 769px) and (max-width: 992px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 993px) and (max-width: 1200px){
    @content;
  }
}
@mixin superDesktop {
  @media (min-width: 1201px) {
    @content;
  }
}

// Mixins flex
%flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%column {
  display: flex;
  flex-direction: column;
}

// Reset
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

